body {
	
	
        background: rgb(189, 237, 183);

        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=0 );
}

#Img-container{
	
	
	background: rgba(210,255,82,1);
background: -moz-linear-gradient(top, rgb(111, 255, 82) 0%, rgba(145,232,66,1) 30%, rgba(145,232,66,1) 59%, rgba(145,232,66,1) 72%, rgba(145,232,66,1) 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=0 );
}
#logo {
    width: 100px;
    height: 100px;
    margin-left: 25px;
}
#tituloA {
    text-align: center;
    
    font-size: 40px;
}

#formLogin{ 
    margin-top: 2%;
}
#carrusel {
    margin-top: 4%;
}

#tarPel{
    width: 700px;
}
